.login-form{
  background-color: white;
  padding: 5px;
  padding-right: 10px;
  text-align: center;
  width: 170px;
  margin: 5px auto 0 auto;
  border-radius: 4px;
}
#username, #password, .login-button {
  width: 100%;
  border-radius: 4px;
}
#username, #password {
  text-align: center;
}
.login-button {
  margin: 5% 2%;
  border: 1px solid black;
  border-radius: 4px;
  height: 25px;
  font-weight: bold;
  color: white;
  background-color: rgb(14, 86, 145);
  border-width: 2px;
}
.login-button:hover {
  cursor: pointer;
  background-color: rgb(19, 121, 204);
  color: white;
}